<h1>Giriş Yapınız</h1>
<form action="/User/LogUser" method="post">
    <label for="txtId">Id:</label>
    <input type="text" id="txtId" name="txtId" required /><br />

    <label for="txtPassword">Şifre:</label>
    <input type="password" id="txtPassword" name="txtPassword" required /><br />

    <button type="submit">Gönder</button>
</form>