<h1>Kayıt olunuz</h1>
<form action="/User/UserSign" method="post">
    <label for="txtName">İsim:</label>
    <input type="text" id="txtId" name="txtName" required /><br />

    <label for="txtPassword">Şifre:</label>
    <input type="password" id="txtPassword" name="txtPassword" required /><br />

    <button type="submit">Gönder</button>
</form>