@model to_do_list.Models.TaskList

@{
    ViewData["Title"] = "updateTask";
}

<h1>updateTask</h1>

<h4>TaskList</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="updateTask">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
